

.box1{
    width: 100px;
    height:120px;
    border:1px solid #F00;
    margin-bottom: 10px;
    padding-left: 4px;
}

.box2{
    width: 1px;
    height:150px;
    border: 20px solid #00F;
    padding-top: 10px;

}